:root {
    --user-bg: #EAEAEA;
    --notifications-bg: #8EDAFC;
    --sent-msg-bg: #D5F9BA;
    --active-chat: #E9EBEB;
    --search-bg: #FAFAFA;
    --icon-color: #B1B1B1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
}

/* USER TOOLBAR */

.user-toolbar,
.chat__header,
.chat__toolbar {
    background-color: var(--user-bg);
}

.user-toolbar,
.chat__header,
.chat__toolbar{
    padding: 10px 6px;
    height: 60px;
}

.user-toolbar__icons,
.search-bar__icon,
.chat__header__toolbar__icons{
    color: var(--icon-color);
}

.user-toolbar__icons > *,
.chat__header__toolbar__icons > *,
.chat__toolbar__icons > * {
    padding: 0 5px;
}

.user__img,
.chat__header__img {
    width: 40px;
    aspect-ratio: 1/1;
    object-position: center;
    margin-right: 5px;
}

/* NOTIFICATION */

.notifications {
    background-color: var(--notifications-bg);
}

.bell {
    font-size: 25px;
    color: var(--notifications-bg);
    padding: 20px 10px;
}

.notifications__text {
    font-size: 12px;
}


/* SEARCH BAR */
.search-bar {
    background-color: var(--search-bg);
}

.search-bar__icon {
    width: 20%;
}


/* CHAT HEADER */

.chat__header__text {
    font-size: 12px;
}

.chat__toolbar__icon {
    color: #6B7275;
}

.chat-card__img {
    width: 50px;
    aspect-ratio: 1/1;
    object-position: center;
    margin-right: 5px;
}

/* CHAT VIEW */

.chat__view {
    background-image: url(../img/backgroundChat.jpg);
}

.chat__view-card {
    border-radius: 5px;
    width: 250px;
    height: 50px;
}

.chat__view-card-sent {
    background-color: var(--sent-msg-bg);
}

.chat__view-card__text {
    font-size: 12px;
}

.chat__view-card__time {
    font-size: 10px;
}