:root {
    --user-bg: #EAEAEA;
    --notifications-bg: #8EDAFC;
    --sent-msg-bg: #D5F9BA;
    --active-chat: #E9EBEB;
    --search-bg: #FAFAFA;
    --icon-color: #B1B1B1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

body {
    background-image: url(../img/background.png);
    background-size: cover;
    overflow: hidden;
}

.user-toolbar,
.chat__header,
.chat__toolbar {
    background-color: var(--user-bg);
}

.notifications {
    background-color: var(--notifications-bg);
}

.chat__view {
    background-image: url(../img/backgroundChat.jpg);
}

.search-bar {
    background-color: var(--search-bg);
}

.chat__header {
    width: 100%;
}

.user-toolbar{
    padding: 10px 6px;
}

.user-toolbar__icons {
    color: var(--icon-color);
}

.user-toolbar__icons > * {
    padding: 0 5px;
}

.user__img {
    width: 30%;
    border-radius: 50%;
    object-fit: 1/1;
    object-position: center;
    margin-right: 5px;
}