<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Boolzap</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>
		<script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
		<script
			src="https://kit.fontawesome.com/d3a966ac98.js"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="./css/style.css" />
	</head>

	<body class="vh-100 d-flex overflow-hidden">
		<div id="app" class="boolzap my-4 container bg-white">
			<div class="row h-100">
				<div class="col-4 d-flex flex-column h-100 border-end">
					<!-- USER -->

					<div class="row user-toolbar align-items-center">
						<div class="col d-flex align-items-center p-0">
							<img
								class="user__img rounded-circle"
								src="./img/user.jpg"
								alt=""
							/>
							<span>Brody</span>
						</div>
						<div class="col-auto p-0">
							<ul class="d-flex user-toolbar__icons m-0">
								<li>
									<a href="#">
										<i class="fa-solid fa-circle-notch"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa-solid fa-message"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa-solid fa-ellipsis-vertical"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<!-- NOTIFICATION -->

					<div class="row notifications align-items-center">
						<div class="col-auto bell">
							<i class="rounded-circle bg-white p-2 fa-solid fa-bell-slash"></i>
						</div>
						<div class="col notifications__text p-0">
							<p class="m-0">Ricevi notifiche di nuovi messaggi</p>
							<a class="m-0 text-decoration-underline text-secondary" href="#">
								Attiva notifiche desktop
							</a>
						</div>
					</div>

					<!-- SEARCH BAR -->

					<div class="row search-bar py-2 px-1">
						<div class="input-group p-0 border">
							<span
								class="input-group-text search-bar__icon border-0"
								id="inputGroup-sizing-default"
							>
								<i class="mx-auto fa-solid fa-magnifying-glass"></i>
							</span>
							<input
								type="text"
								class="form-control border-0"
								placeholder="Cerca o inizia una nuova chat"
								v-model="search"
							/>
						</div>
					</div>

					<!-- CHAT WRAPPER -->

					<div class="row chat-wrapper overflow-y-auto">
						<div
							v-for="(contact, i) in contacts" :key="contact.name"
							class="chat-card d-flex p-2 border-bottom"
							:class="{'active': currentChat === i , 'd-none': isHidden(contact)}"
							@click="setCurrentChat(i)"
						>
							<img
								class="chat-card__img rounded-circle"
								:src=contact.avatar
								alt=""
							/>
							<div>
								<p class="m-0">{{contact.name}}</p>
								<p class="m-0 text-secondary">messaggio</p>
							</div>
							<p class="chat-card__time ms-auto text-secondary">12.30</p>
						</div>
					</div>
				</div>

				<!-- CHAT -->
				<div class="col-8 chat border h-100 d-flex flex-column">
					<div class="row chat__header align-items-center">
						<div class="col d-flex align-items-center p-0">
							<img
								class="chat__header__img rounded-circle"
								:src="contacts[currentChat].avatar"
								alt=""
							/>
							<div class="chat__header__text">
								<p class="m-0">{{contacts[currentChat].name}}</p>
								<p class="text-secondary m-0">Ultimo accesso</p>
							</div>
						</div>
						<div class="col-auto p-0">
							<ul class="d-flex chat__header__toolbar__icons m-0">
								<li>
									<a href="#">
										<i class="fa-solid fa-magnifying-glass"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa-solid fa-paperclip"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa-solid fa-ellipsis-vertical"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>

					<div
						class="row chat__view flex-grow-1 overflow-y-scroll py-3 px-5 align-items-start"
					>
						<div class="chat d-flex flex-column gap-2">
							
							<div
								class="chat__view-card p-2"
								v-for="(messageInfo, index) in contacts[currentChat].messages"
								:class="messageInfo.status === 'sent' ? 'chat__view-card-sent' : 'chat__view-card-received' "
							>
								<p class="chat__view-card__text m-0 text-start pe-4">
									{{messageInfo.message}}
								</p>
								<p class="chat__view-card__time m-0 text-end text-secondary">
									{{ parseDate(messageInfo.date) }}
								</p>
							</div>
						</div>
					</div>

					<div class="row chat__toolbar">
						<div class="p-0">
							<ul
								class="d-flex chat__toolbar__icons m-0 p-0 align-items-center"
							>
								<li>
									<a href="#">
										<i class="fa-regular fa-face-smile"></i>
									</a>
								</li>
								<li class="flex-grow-1">
									<input
										type="text"
										class="form-control border-0"
										v-model="messageSent"
										placeholder="Scrivi un messaggio"
										@keyup.enter="sendMessage(currentChat)"
									/>
								</li>
								<li>
									<a href="#">
										<i class="fa-solid fa-microphone"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="./js/script.js"></script>
	</body>
</html>
